.mt0 {
  margin-top: 0 !important;
}
.mt1 {
  margin-top: 10px !important;
}
.mt2 {
  margin-top: 20px !important;
}
.mt3 {
  margin-top: 30px !important;
}
.mt4 {
  margin-top: 40px !important;
}
.mt5 {
  margin-top: 50px !important;
}
.mt6 {
  margin-top: 60px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}
.mb1 {
  margin-bottom: 10px !important;
}
.mb2 {
  margin-bottom: 20px !important;
}
.mb3 {
  margin-bottom: 30px !important;
}

.ml0 {
  margin-left: 0px !important;
}
.ml1 {
  margin-left: 10px !important;
}
.ml2 {
  margin-left: 20px !important;
}
.ml3 {
  margin-left: 30px !important;
}

.mr0 {
  margin-right: 0px !important;
}
.mr1 {
  margin-right: 10px !important;
}
.mr2 {
  margin-right: 20px !important;
}
.mr3 {
  margin-right: 30px !important;
}
