h1 {
  font-size: 48px;
  font-weight: 700;
}

#rps-wrap {
  width: 50%;
  min-width: 50%;
  /* background-color: aqua; */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

#rps-result-wrap {
  /* background-color: aqua; */
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: end;
  width: 50%;
}

#rps-wrap div button,
#rps-wrap div button img {
  width: 100%;
  /* height:50px; */
}

#computer-image button img {
  height: 180px;
  /* background-color: aqua; */
}

#rps-wrap div {
  width: 180px;
}
